header{
    background-color: gray;
    height: 15vh;
    width: 100%;
}

ul
{
    display: flex;
    margin: auto;
    width: 50%;
    justify-content: space-between;
}
li{
    margin: auto;
    list-style: none;
    padding: 30px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
input{
    height: 25px;
    margin: auto;
    border-radius: 10px;
    border: none;
    padding: 5px;
}
button
{
    margin: auto;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: purple;
}